{% extends 'base.html.twig' %}

{% block title %}Proposer une suggestion pour "{{ assignment.title }}"{% endblock %}

{% block body %}
    <h1>Proposer une suggestion pour "{{ assignment.title }}"</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.title) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.due_date) }}
        {{ form_widget(form.due_date, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.due_date) }}
    </div>

    <div class="form-group">
        {{ form_label(form.type) }}
        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.type) }}
    </div>

    <div class="form-group">
        {{ form_label(form.submission_url) }}
        {{ form_widget(form.submission_url, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.submission_url) }}
    </div>

    <div class="form-group">
        {{ form_label(form.submission_other) }}
        {{ form_widget(form.submission_other, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.submission_other) }}
    </div>

    <div class="form-group">
        {{ form_label(form.course_location) }}
        {{ form_widget(form.course_location, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.course_location) }}
    </div>

    <div class="form-group">
        {{ form_label(form.subject) }}
        {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.subject) }}
    </div>

    <div class="form-group">
        {{ form_label(form.message) }}
        {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.message) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.submit, {'attr': {'class': 'button'}}) }}
    </div>

    {{ form_end(form) }}

    <a href="{{ path('app_home') }}" class="btn btn-secondary">Retour</a>
{% endblock %}