{% extends 'base.html.twig' %}

{% block title %}Suggérer une modification - {{ assignment.title }}{% endblock %}

{% block body %}
    <main class="home">
        <h1>Suggérer une modification pour "{{ assignment.title }}"</h1>

        <div class="form-container">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>

            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
            </div>

            <div class="form-group">
                {{ form_label(form.due_date) }}
                {{ form_widget(form.due_date) }}
                {{ form_errors(form.due_date) }}
            </div>

            <div class="form-group">
                {{ form_label(form.submission_type) }}
                {{ form_widget(form.submission_type) }}
                {{ form_errors(form.submission_type) }}
            </div>

            <div class="form-group">
                {{ form_label(form.submission_url) }}
                {{ form_widget(form.submission_url) }}
                {{ form_errors(form.submission_url) }}
            </div>

            <div class="form-group">
                {{ form_label(form.type) }}
                {{ form_widget(form.type) }}
                {{ form_errors(form.type) }}
            </div>

            <div class="form-group">
                {{ form_label(form.message) }}
                {{ form_widget(form.message) }}
                {{ form_errors(form.message) }}
            </div>

            <div class="form-group">
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>

        <a href="{{ path('app_home') }}" class="button-grey">Retour à l'accueil</a>
    </main>
{% endblock %}