{% extends 'base.html.twig' %}

{% block title %}Suggérer une modification{% endblock %}
{% block description %}Une erreur dans une tâche ? Suggérez une modification aux délégués{% endblock %}


{% block body %}
    <main class="suggest-assignment padding">
        <h1>Suggérer une modification pour "[{{ assignment.subject.code }}] {{ assignment.title }}"</h1>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        {{ form_start(form) }}
        <div>
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>
        <div>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
        <div>
            {{ form_label(form.due_date) }}
            {{ form_widget(form.due_date) }}
            {{ form_errors(form.due_date) }}
        </div>
        <div>
            {{ form_label(form.submission_type) }}
            {{ form_widget(form.submission_type) }}
            {{ form_errors(form.submission_type) }}
        </div>
        <div>
            {{ form_label(form.submission_url) }}
            {{ form_widget(form.submission_url) }}
            {{ form_errors(form.submission_url) }}
        </div>
        <div>
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
            {{ form_errors(form.type) }}
        </div>
        <div>
            {{ form_label(form.subject) }}
            {{ form_widget(form.subject) }}
            {{ form_errors(form.subject) }}
        </div>
        <div>
            {{ form_label(form.message) }}
            {{ form_widget(form.message) }}
            {{ form_errors(form.message) }}
        </div>
        <div>
            {{ form_widget(form.submit) }}
            <a href="{{ path('app_home') }}">Annuler</a>
        </div>
        {{ form_end(form) }}
    </main>
{% endblock %}