{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_start(registrationForm) }}
    <div>
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email) }}
        <div>
            {{ form_errors(registrationForm.email) }}
        </div>
    </div>
    <div>
        {{ form_label(registrationForm.firstName) }}
        {{ form_widget(registrationForm.firstName) }}
        <div>
            {{ form_errors(registrationForm.firstName) }}
        </div>
    </div>
    <div>
        {{ form_label(registrationForm.lastName) }}
        {{ form_widget(registrationForm.lastName) }}
        <div>
            {{ form_errors(registrationForm.lastName) }}
        </div>
    </div>
    <div>
        {{ form_label(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword) }}
        <div>
            {{ form_errors(registrationForm.plainPassword) }}
        </div>
    </div>
    <div>
        {{ form_label(registrationForm.group) }}
        {{ form_widget(registrationForm.group) }}
        <div>
            {{ form_errors(registrationForm.group) }}
        </div>
    </div>
    <div>
        {{ form_widget(registrationForm.agreeTerms) }}
        {{ form_label(registrationForm.agreeTerms) }}
        <div>
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>
    </div>
    <div>
        <button class="button" type="submit">S'inscrire</button>
    </div>
    {{ form_end(registrationForm) }}
    <p>Déjà inscrit ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
{% endblock %}