{% extends 'base.html.twig' %}

{% block title %}Ajouter un devoir{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau devoir</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.dueDate) }}
        {{ form_widget(form.dueDate) }}
        {{ form_errors(form.dueDate) }}
    </div>

    <div class="form-group">
        {{ form_label(form.subject) }}
        {{ form_widget(form.subject) }}
        {{ form_errors(form.subject) }}
    </div>

    <div class="form-group">
        {{ form_label(form.groups) }}
        {{ form_widget(form.groups) }}
        {{ form_errors(form.groups) }}
    </div>

    <div class="form-group">
        {{ form_label(form.submissionType) }}
        {{ form_widget(form.submissionType) }}
        {{ form_errors(form.submissionType) }}
    </div>

    <div class="form-group">
        {{ form_label(form.submissionUrl) }}
        {{ form_widget(form.submissionUrl) }}
        {{ form_errors(form.submissionUrl) }}
    </div>

    <div class="form-group">
        {{ form_label(form.type) }}
        {{ form_widget(form.type) }}
        {{ form_errors(form.type) }}
    </div>

    <div class="form-group">
        {{ form_label(form.dueDates) }}
        {{ form_widget(form.dueDates) }}
        {{ form_errors(form.dueDates) }}
    </div>

    <button type="submit" class="btn btn-primary">Ajouter le devoir</button>
    {{ form_end(form) }}
{% endblock %}