{% extends 'base.html.twig' %}

{% block title %}Ajouter un devoir{% endblock %}


{% block body %}
    <div>
        <h1>Ajouter un nouveau devoir</h1>

        {{ form_start(form) }}

        <div>
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>

        <div>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>

        <div>
            {{ form_label(form.due_date) }}
            {{ form_widget(form.due_date) }}
            {{ form_errors(form.due_date) }}
        </div>

        <div>
            {{ form_label(form.subject) }}
            {{ form_widget(form.subject) }}
            {{ form_errors(form.subject) }}
        </div>

        <div>
            {{ form_label(form.groups) }}
            {% for group in form.groups %}
                <div>
                    {{ form_widget(group) }}
                    {{ form_label(group) }}
                </div>
            {% endfor %}
            {{ form_errors(form.groups) }}
        </div>

        <div>
            {{ form_label(form.submission_type) }}
            {{ form_widget(form.submission_type) }}
            {{ form_errors(form.submission_type) }}
        </div>

        <div>
            {{ form_label(form.submission_url) }}
            {{ form_widget(form.submission_url) }}
            {{ form_errors(form.submission_url) }}
        </div>

        <div>
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
            {{ form_errors(form.type) }}
        </div>

        <button type="submit">Ajouter le devoir</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
